doctype html
head
  title A little story
  link(rel='stylesheet' href='css/normalize.css')
  link(rel='stylesheet' href='css/style.css')
  meta(charset='utf-8')
  meta(name='description' content='')
body
  p#time
  audio#audio1(src='audio/truc.mp3')
  script(src='js/d3.min.js')
  script(src='js/bar.js')