@font-face {
    font-family: DHF-HBR;
    src: url("DHF-HBR.d400f5a3.ttf") format("truetype");
}

html, body {
  height: 100%;
  margin: 0;
    overflow: hidden;
}
svg{
    background-color: floralwhite;
/*    background-color: black;*/
    font-family: DHF-HBR;
}
audio{
    position: absolute;
    left: 50px;
    top: 50px;
    opacity: 0.5;
    /*display: none;*/
}

#time{
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 99;
    font-size: 3em;
    color: aqua;
}
    